details {
    overflow: hidden;

    background-color: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #333
}

details > :is(summary, div) {
    padding: 6px 15px;
}

details > summary {
    width: auto;

    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    user-select: none;

    color: #fff;
    background-color: #444;
}

.module_entries {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.2rem 0.8rem;
    align-items: center;
}

.module_entries.oversize {
    grid-template-columns: repeat(4, max-content);
}

.module_entries > label {
    user-select: none;
}

.module_entries > label.header {
    font-weight: bolder;
}
